@import "../../assets/scss/mixin/index.scss";
@import "../../assets/scss/variable/colors.scss";
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $white;
  z-index: 999;

  @include breakPoint(phone) {
    padding: 8px;
  }
  @include breakPoint(miniIpad) {
    padding: 10px;
  }
  @include breakPoint(ipad) {
    padding: 20px;
  }
  // @include breakPoint()
  &_icon {
    font-weight: 700;
    @include breakPoint(ipad) {
      display: none;
    }
  }
  &_top {
    @include placeItem($item: center);
    gap: 40px;
    &--left {
      @include placeItem($item: center);
      gap: 10px;
    }
    &--right {
      @include breakPoint(phone) {
        display: none;
      }
    }
    &--icondown {
      position: relative;
    }
    &--address {
      position: absolute;
      z-index: 99;
      background-color: $white;
      top: 30px;
      left: 0;
      width: 250px;
      border-style: dotted;
      border-radius: 10px;
      padding: 8px;
      & div:not(:first-child) {
        padding-top: 10px;
      }
      & div:hover {
        color: gray;
      }
    }
  }
  &_bottom {
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--tab {
      @include placeItem;
      gap: 15px;
      @include breakPoint(miniIpad) {
        display: none;
      }
    }
    &--icon {
      position: relative;
      @include placeItem;
      font-weight: 700;
      gap: 12px;
      @include breakPoint(ipad) {
      }
      & i {
        @include iconbutton;
      }
      &---topcart {
        position: absolute;
        right: 0;
        top: -5px;
        background-color: $green;
        border-radius: 50%;
        display: flex;
        place-content: center;
        place-items: center;
        width: 20px;
        height: 20px;
      }
    }
    &--iconMenu {
      position: relative;
    }
    &--menu {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &_menu {
    padding: 15px;
    & li:not(:first-child) {
      padding-top: 20px;
    }
  }
}
.icon {
  @include iconbutton;
  padding: 10px;
}
.drawer {
  transform: translateX(300px);
}
.search {
  @include placeItem($item: center);
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 30px;
  border: 0.5px solid $black;
  border-radius: 5px;

  &_elementLeft {
    @include placeItem($item: center, $content: center);
    height: 100%;
    padding: 0 20px;
    background-color: $black;
    color: $white;
    border-radius: 5px 0 0 5px;
  }
  &_input {
    height: 100%;
    padding: 0 5px;
    border: none;
    flex: 1;
    &:focus-visible {
      outline: none;
    }
  }

  &_icon {
    @include placeItem($content: center, $item: center);
    width: 80px;
    height: inherit;
    background-color: black;
    color: white;
    border-radius: 0 5px 0 5px;
  }
  &_suggestion {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 15px;
    max-width: 100%;
    min-width: 250px;
    max-height: 300px;
    overflow: auto;
    border-radius: 15px;
    background-color: $lightGrey;
  }
}
