.category {
  margin-top: 120px;
  padding: 0 30px;
}

.Details {
  padding: 0 10px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 80px;
}
.content {
  border: 0.5px solid green;
}
.item0 {
  grid-area: item0;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
}
.grid_container {
  display: grid;
  width: 100%;
  gap: 15px;
  grid-template-areas:
    "item0 item1 item2"
    "item3 item4 item5"
    "item6 item6 item7"
    "item6 item6 item8";
}
.Body {
  display: flex;
}
