@import "../../../../assets/scss/mixin/index.scss";
@import "../../../../assets/scss/variable/colors.scss";

.listProduct {
  @include placeItem;
  flex-direction: column;
  padding: 30px;
  gap: 15px;
}
